body {
    background: rgb(145, 179, 230);
    height: 100vh;
}
button {
    cursor: pointer;
    margin-bottom: 10px;
}
button:active {
    opacity: 0.6;
}
button[disabled] {
    opacity: 0.7;
}
input, button {
    padding: 6px;
    width: -webkit-fill-available;
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear {
    background: transparent;
    border: none;
    color: white
}
.solid {
    background: white;
    border: none;
    color: rgb(145, 179, 230);
}
.error {
    color: red;
    display: none;
}