button:active {
    opacity: 0.6;
}
button[disabled] {
    opacity: 0.7;
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
.clear {
    background: transparent;
    border: none;
    color: white
}
.solid {
    background: white;
    border: none;
    color: rgb(145, 179, 230);
}
.error {
    color: red;
    display: none;
}