button:active {
    opacity: 0.6;
}
button[disabled] {
    opacity: 0.7;
}
.clear {
    background: transparent;
    border: none;
    color: white
}
.solid {
    background: white;
    border: none;
    color: rgb(145, 179, 230);
}
.outline {
    background: transparent;
    border: 1px solid white;
    color: white;
}
.error {
    color: red;
    display: none;
}