body {
    height: 100vh;
}
header {
    text-align: right;
}
header button {
    width: auto;
}
th, td {
    border: 1px solid gray;
}
tr {
    cursor: pointer;
}
tr:hover {
    opacity: 0.5;
}
table {
    border-collapse: collapse;
    background: white;
    padding: 8px 16px;
}