<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Nunes Sports</title>
    <link rel="stylesheet" href="../CSS/index.css"/>
    <link rel="stylesheet" href="../CSS/global.css"/>
</head>
<body class = "centralize">
    <form>
        <div><h3>Login</h3></div>
        <div class = "form-field">
            <div><label>Email</label></div>
            <input type = "email" name = "email" id = "email" onchange = "onChangeEmail()" placeholder = "Email"/>
            <div class = "error" id = "email-required-error">Email é obrigatório</div>
            <div class = "error" id = "email-invalid-error">Email inválido</div>
        </div>
        <div class = "form-field">
            <div><label>Senha</label></div>
            <input type = "password" name = "password" id = "password" onchange = "onChangePassword()" placeholder = "Senha"/>
            <div class = "error" id = "password-required-error">Senha é obrigatória</div>
        </div>
        <div>
            <button type = "button" class = "clear" id = "recover-password-button" onclick = "recoverPassword()" disabled = "true">Esqueci minha senha</button>
        </div>
        <div>
            <button type = "button" class = "solid" id = "login-button" disabled = "true" onclick = "login()">Entrar</button>
        </div>  
    </form>
</body>

<script src = "https://www.gstatic.com/firebasejs/10.13.0/firebase-app-compat.js"></script>
<script src = "https://www.gstatic.com/firebasejs/10.13.0/firebase-auth-compat.js"></script>
<script src = "../JS/firebase-init.js"></script>
<script src = "../JS/index.js"></script>
<script src = "../JS/validations.js"></script>

</html>